**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/.idea/
**/.idea/*
**/*.iml
**/out/
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/**/bin
**/**/obj
**/obj/**
src/
**/bin
**/obj
**/charts
**/docker-compose*
**/Dockerfile*
**/*Dockerfile
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/.userprefs
*.log
*.temp
*.tmp
tmp/
logs/
temp/
publish/
out/
dist/
release/
.DS_Store
*.swp
*.local.settings.json